<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <% @messages.each do |message| %>
        <% if message.body %>
          <div class="message">
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
            <div class="message-name">
              <h3><%= message.user.email %></h3>
              <p>10/07/17</p>
            </div>
            <div class="message-body">
              <p><strong><%= message.body %></strong></p>
              <p> <%= message.body %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= form_for [@conversation, @message] do |f| %>
      <div class="form-inline">
        <%= f.text_area :body, placeholder: "Your message", class: 'form-control' %>
        <%= f.submit "Send", class: "btn btn-primary" %>
        <%= link_to "Back to all instruments", instruments_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>


