<% @messages.each do |message| %>
  <% if message.body %>
    <div class="message">
      <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      <div class="message-name">
        <h3><%= message.user.email %></h3>
        <p>10/07/17</p>
      </div>
      <div class="message-body">
        <p><strong><%= message.body %></strong></p>
        <p> <%= message.body %></p>
      </div>
      <div class="message-status">
        <p class="status pending">Pending</p>
        <p class="price">€345</p>
      </div>
    </div>
  <% end %>
<% end %>

<%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Your message" %>
  </div>
  <%= f.submit "Send" %>
<% end %>

