<div class = "messagecontainer">
  <ul>
    <% @messages.each do |message| %>
      <% if message.body %>
        <li>
          <img src="<%= image_path 'flutes.jpg' %>" alt = "Avatar">
          <h4><%= message.user.email %></h4>
          <p><%= message.body %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class = "messagecontainer">
  <%= form_for [@conversation, @message] do |f| %>
    <div class="field">
      <%= f.text_area :body, placeholder: "Your message" %>
    </div>
    <%= f.submit "Send" %>
  <% end %>
</div>
